@font-face {
    font-family: inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
}

header nav{
    display: flex;
    background-color: #001D21;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

nav .left img{
    width: 50%;
}

.right{
    background-color: #CCCAFF;
    padding: 0.5rem;
    border-radius: 10px;
}
.right h4{
    color: black;
    font-size: 1.5rem;
}

.center{
    display: flex;
}

.center p{
    color: #999;
}

.left .menu{
    display: none;
}

.view1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #001D21;
}

.view1 .text{
    text-align: center;
    width: 100%;
    color: whitesmoke;
    padding: 1rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text h1{
    font-size: 3.5rem;
    font-weight: 400;
}

.text p{
    color: #999;
}

.images{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.images img{
    width: 100%;
    border-radius: 0.7rem;
}

.images #three {
    display: none;
}

.right-BS{
    display: none;
}

.view2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: #F9F9F7;
}


.view2 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#title p{
    font-weight: 200;
}

#title h4{
    font-size: 0.5rem;
}

.view2 .text{
    text-align: center;
    font-size: 2rem;
}


.view2 .text h3{
    font-weight: 300;
}


.view2 .bottom .top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    gap: 1rem;
}

.bottom .top h1{
    font-weight: 400;
    font-size: 2.3rem;
}

.bottom .top p{
    font-weight: 200;
    font-size: 1rem;
}

.view2 .top .sec1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
}

.view2 .bottom .bottom1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
}

.bottom .bottom1 h1{
    font-weight: 400;
    font-size: 2.3rem;
}

.bottom .bottom1 p{
    font-weight: 200;
    font-size: 1rem;
}

.last{
    display: grid;
    flex-direction: row;
    grid-template-rows: 50% 50%; 
    grid-template-columns: 50% 50%;
    grid-template-areas: "first second"
    "last last";

}

.last .p1{
    grid-area: first;
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p2{
    grid-area: second;
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p3{
    grid-area: last;
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p4{
    display: none;
}

.view3 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.view3 .text{
    display: flex;
    flex-direction: column;
}

.view3 .text h1{
    text-align: center;
}

@media (min-width:900px) {
    .right{
        display: none;
    }

    .right-BS{
        display: block;
    }

    .right-BS button{
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        border: none;
        background-color: #fff;
        font-size: 1rem;
    }

    .menu #str{
        color: whitesmoke;
    }

    .left .menu{
        display: block;
        display: flex;
        gap: 1.4rem;
        color: #999;
    }

    .menu span{
        display: flex;
        gap: 0.2rem;
    }

    .view1{
        padding-top: 3rem;
        align-items: center;
    }

    .view1 .text{
        width: 100%;
        padding: 1rem 9rem;
    }

    .view1 .text p{
        width: 53%;
        margin: auto;
        text-align: center;
        padding-bottom: 3rem;
    }

    .text h1{
        font-size: 4rem;
    }

    header nav{
        padding: 1rem 5rem;
    }
    
    .view1 .images{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .images #three{
        display: block;
    }

    .images img{
        width: 25%;
    }

    .view2{
        flex-direction: row;
        padding-top: 3rem;
    }

    .view2 .top .text{
        text-align: start;
    }

    .section1{
        width: 50%;
    }

    .view2 .bottom .top{
        flex-direction: row;
        gap: 0rem;
        justify-content: start;
    }

    .view2 .bottom .sec1{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 0rem;
    }

    .view2 .bottom .top{
        padding-left: 0rem;
    }

    .sec1 .part1{
        padding: 1rem;
        width: 50%;
    }

        .sec1 .part2{
        padding: 1rem;
        width: 40%;
    }

        .bottom1 .part3{
        padding: 1rem;
        width: 45%;
    }

        .bottom1 .part4{
        padding: 1rem;
        width: 40%;
    }

    .last .p4{
        display: block;
    }

        .view2 .bottom .bottom1{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 0rem;
    }

    .view2 .last{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 4rem;
    }
}