@font-face {
    font-family: inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

html,body{
    width: 100%;
    height: 100%;
    font-size: clamp(14px,1vw,16px);
}

header{
    width: 100%;
}

header nav{
    display: flex;
    background-color: #001D21;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

nav .left img{
    width: 50%;
}

.right{
    background-color: #CCCAFF;
    padding: 0.5rem;
    border-radius: 10px;
}
.right h4{
    color: black;
    font-size: 1.5rem;
}

.center{
    display: flex;
}

.center p{
    color: #999;
}

.left .menu{
    display: none;
}

.view1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #001D21;
}

.view1 .text{
    text-align: center;
    width: 100%;
    color: whitesmoke;
    padding: 1rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text h1{
    font-size: 3.5rem;
    font-weight: 400;
}

.text p{
    color: #999;
}

.images{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.images img{
    width: 100%;
    border-radius: 0.7rem;
}

.images #three {
    display: none;
}

.right-BS{
    display: none;
}

.view2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: #F9F9F7;
}


.view2 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#title p{
    font-weight: 200;
}

#title h4{
    font-size: 0.5rem;
}

.view2 .text{
    text-align: center;
    font-size: 2rem;
}


.view2 .text h3{
    font-weight: 300;
}


.view2 .bottom .top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    gap: 1rem;
}

.bottom .top h1{
    font-weight: 400;
    font-size: 2.3rem;
}

.bottom .top p{
    font-weight: 200;
    font-size: 1rem;
}

.view2 .top .sec1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
}

.view2 .bottom .bottom1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 2rem;
}

.bottom .bottom1 h1{
    font-weight: 400;
    font-size: 2.3rem;
}

.bottom .bottom1 p{
    font-weight: 200;
    font-size: 1rem;
}

.last{
    display: grid;
    flex-direction: row;
    grid-template-rows: 50% 50%; 
    grid-template-columns: 50% 50%;
    grid-template-areas: "first second"
    "last last";

}

.last .p1{
    grid-area: first;
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p2{
    grid-area: second;
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p3{
    grid-area: last;
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 1rem;
}

.last .p4{
    display: none;
}

.view3 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.view3 .text{
    display: flex;
    flex-direction: column;
}

.view3 .text h1{
    text-align: center;
}

.view3 .images .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.view3 .images .bottom{
    padding: 0rem 1rem;
}

.view3 .images .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.view3 .images .top .person1{
    position: relative;
    width: 100%;
}

.view3 .images .person1 img{
    width: 100%;
}


.view3 .images .top .person1 h2{
    position: absolute;
    color: whitesmoke;
    padding: 1rem;
    bottom: 10%;
}

.view3 .images .top .person1 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}


.view3 .images .top .person2{
    position: relative;
    width: 100%;
}

.view3 .images .person2 img{
    width: 100%;
}


.view3 .images .top .person2 h2{
    position: absolute;
    bottom: 10%;
    color: whitesmoke;
    padding: 1rem;
}
.view3 .images .top .person2 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}

.view3 .images .top .person3{
    position: relative;
    width: 100%;
}

.view3 .images .person3 img{
    width: 100%;
}


.view3 .images .top .person3 h2{
    position: absolute;
    color: whitesmoke;
    padding: 1rem;
    bottom: 10%;
}

.view3 .images .top .person3 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}


/* yuholuhohu */

.view3 .images .bottom .person4{
    position: relative;
    width: 100%;
}

.view3 .images .person4 img{
    width: 100%;
}


.view3 .images .bottom .person4 h2{
    position: absolute;
    color: whitesmoke;
    padding: 1rem;
    bottom: 10%;
}

.view3 .images .bottom .person4 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}


.view3 .images .bottom .person5{
    position: relative;
    width: 100%;
}

.view3 .images .person5 img{
    width: 100%;
}


.view3 .images .bottom .person5 h2{
    position: absolute;
    color: whitesmoke;
    padding: 1rem;
    bottom: 10%;
}

.view3 .images .bottom .person5 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}


.view3 .images .bottom .person6{
    position: relative;
    width: 100%;
}

.view3 .images .person6 img{
    width: 100%;
}


.view3 .images .bottom .person6 h2{
    position: absolute;
    color: whitesmoke;
    padding: 1rem;
    bottom: 10%;
}

.view3 .images .bottom .person6 p{
    position: absolute;
    bottom: 5%;
    padding: 1rem;
        color: whitesmoke;
}


.view4{
    background-color: #001D21;
    width: 100%;
    padding: 1rem;
}

.view4 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.view4 .text{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding-top: 5rem;
}

.view4 .text h1{
    text-align: center;
}

.view4 .text .bottom {
    padding: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.view4 .middle{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.view4 .middle .years{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #999;
}

.years h3{
    font-size: 1.4rem;
    font-weight: 400;
}

.view4 .middle .line{
    background-color: whitesmoke;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.line h4{
    color: whitesmoke;
}

.view4 .last{
    padding-top: 2rem;
    display: flex;
}

.view4 .last p {

    color: #999;
    text-align: center;
    padding-bottom: 5rem;
}

.years #twoone{
    color: whitesmoke;
}


.view5{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.view5 #title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.view5 .section2{
    padding: 1rem;
}

.view5 .section2 .top{
    width: 100%;
}

.section2 .top img{
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 0.7rem;
    padding-bottom: 1rem;
}

.section2 .middle p{
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.section2 .bottom .name p{
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.section2 .bottom .title p{
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: #999;
}

.section2 .bottom .arrow {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.section2 .bottom .arrow h4 {
    font-size: 3rem;
    font-weight: 100;

}

.view6{
    width: 100%;
    background-color: #001D21;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.view6 .top h2{
    font-size: 2.5rem;
    text-align: center;
    color: #CDCBFF;
    font-weight: 300;
}

.view6 .top{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view6 .top button{
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 0.7rem;
    padding: 1rem 6rem;
    width: 90%;
    margin: 1rem;
    cursor: pointer;
}

.view6 .line{
    width: 100%;
    height: 1px;
    background-color: #999;
}

.view6 .middle{
    display: flex;
    flex-direction: column;
}

.view6 .heading h1{
    padding-top: 1rem;
    font-size: 9rem;
    text-align: center;
    color: #CDCBFF;
    font-weight: 400;
}

.view6 .middle .section1{
    display: grid;
    flex-direction: row;
    grid-template-rows: 50% 50%; 
    grid-template-columns: 40% 60%;
    grid-template-areas: "home about"
    "contact about";
    color: #999;

}

.middle .section1 .home{
    grid-area: home;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.middle .section1 .contact{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.middle .section1 .about{
    grid-area: about;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1rem;
}

.view6 .middle .section2 .top{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(214, 214, 214, 0.778);
}

.view6 .middle .section2 .top p{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}

.view6 .middle .section2 .top .social{
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.view6 .middle .section2 .top .social .insta{
    padding: 0.5rem;
     width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
    border: 1px solid white;
    background-color: #fffefe3f;
}

.view6 .middle .section2 .top .social .fb{
    padding: 0.5rem;
     width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
    border: 1px solid white;
     background-color: #fffefe3f;
}


.view6 .middle .section2 .top .social .link{
    padding: 0.5rem;
     width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
    border: 1px solid white;
     background-color: #fffefe3f;
}

.view6 .middle .section2 .top .social .x{
    padding: 0.5rem;
     width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  text-align: center;
    border: 1px solid white;
     background-color: #fffefe3f;
}


.view6 .footer{
    padding: 1rem;
}

 .view6 .footer p{
    text-align: center;
    color: #999;
    font-weight: 200;
    padding: 1rem;
    font-size: 1.2rem;
}





@media (min-width:900px) {
    .right{
        display: none;
    }

    .right-BS{
        display: block;
    }

    .right-BS button{
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        border: none;
        background-color: #fff;
        font-size: 1rem;
    }

    .menu #str{
        color: whitesmoke;
    }

    .left .menu{
        display: block;
        display: flex;
        gap: 1.4rem;
        color: #999;
    }

    .menu span{
        display: flex;
        gap: 0.2rem;
    }

    .view1{
        padding-top: 3rem;
        align-items: center;
    }

    .view1 .text{
        width: 100%;
        padding: 1rem 9rem;
    }

    .view1 .text p{
        width: 53%;
        margin: auto;
        text-align: center;
        padding-bottom: 3rem;
    }

    .text h1{
        font-size: 4rem;
    }

    header nav{
        padding: 1rem 5rem;
    }
    
    .view1 .images{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .images #three{
        display: block;
    }

    .images img{
        width: 25%;
    }

    .view2{
        flex-direction: row;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .view2 .top .text{
        text-align: start;
    }

    .section1{
        width: 50%;
    }

    .view2 .bottom .top{
        flex-direction: row;
        gap: 0rem;
        justify-content: start;
    }

    .view2 .bottom .sec1{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 0rem;
    }

    .view2 .bottom .top{
        padding-left: 0rem;
    }

    .sec1 .part1{
        padding: 1rem;
        width: 50%;
    }

        .sec1 .part2{
        padding: 1rem;
        width: 40%;
    }

        .bottom1 .part3{
        padding: 1rem;
        width: 45%;
    }

        .bottom1 .part4{
        padding: 1rem;
        width: 40%;
    }

    .last .p4{
        display: block;
    }

        .view2 .bottom .bottom1{
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 0rem;
    }

    .view2 .last{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 4rem;
    }

    .view3 .text{
        margin: auto;
        padding-left: 5rem;
        padding-bottom: 2rem;
    }

    .view3 #title{
        padding-top: 3rem;
        justify-content: flex-start;
        font-size: 1.5rem;
    }

    .view3 .text h1{
        text-align: left;
    }

    .view3 .images .top{
        flex-direction: row;
    }

    .view3 .images .bottom{
        flex-direction: row;
    }

    .view3 .images{
        padding: 0rem 5rem;
        padding-bottom: 5rem;
    }


    .view4{
        padding: 5rem;
    }

    .view4 .text h1{
        text-align: left;
    }

    .view4 .text #title{
        justify-content: flex-start;
        font-size: 1.5rem;
        padding: 0rem;
    }

    .view4 .text .bottom {
    text-align: left;
    padding-left: 0rem;
}

.view4 .last p{
    text-align: left;
}

.years h3{
    font-size:5rem;
}

.view5{
    flex-direction: row;
}

.view5 .section1{
    padding-top: 3rem;
}

.view5 .section1 p{
    font-size: 1.3rem;
}

.view5 .section2 .top{
    padding-top: 3rem;
    width: 70%;
}

.section2 .top img{
    margin: 0rem;
    width: 50%;
    border-radius: 0.7rem;
    padding-bottom: 1rem;
}

.view5 .section2 .middle p{
    text-align: left;
}

.view5 .section2 .bottom p{
    text-align: left;
}

.view5 .section2 .bottom .arrow{
    justify-content: flex-start;
}

.view6 .top{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;

}

.view6 .top button{
    width: 15%;
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.view6 .heading h1{
    padding-top: 1rem;
    font-size: 20rem;
    font-weight: 400;
}

.view6 .middle{
    flex-direction: row-reverse;
}

.view6 .middle .section1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
}